{% extends 'user_dash/base.html' %}

{% block content %}
<main>
  <div>
    <h2>Welcome to the Test</h2>
    <p>We're going to build some cool stuff!</p>
    <button><a href="/signin">Start</a></button>
  </div>
  <div>
    <section>
      <h3>Manage users</h3>
      <p>Cats go for world domination scratch leg; meow for can opener to feed me so run in circles, and cat slap dog in face. Eat plants, meow, and throw up because i ate plants under the bed</p>
    </section>
    <section></section>
    <section></section>
  </div>
</main>
{% endblock %}
